body{
  margin: 0;
  padding: 0;
}
.landing-page {
  min-height: 100vh; 
  width: 100%;
  background-image: url('/images/background-image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #111827;
}
.navbar-brand{
  font-size: 2rem;
  font-weight: 700;
}
.M{
  color: #F59E0B;
}
.nav-underline .nav-link:hover, .nav-underline .nav-link:focus {
  border-bottom-color: #F59E0B;
}
.nav-underline .nav-link.active,
.nav-underline .show > .nav-link {
  border-bottom-color:  #F59E0B;
}

.CV{
  color: white;
}
.info-section{
  padding: 2.5rem 1rem 0rem;
  width: 100%;
  min-height:85vh ;
  color: white;
}
.Description{
  padding-top: 1rem;

}
.hello{
font-size: 1.5rem;
font-weight: 500;
color: #F59E0B;
}
.name{
font-size:4rem ;
font-weight: 600;

}
.frontend{
  font-size:2.5rem;
  color: #0d6efd;
  font-weight: 500;
  padding-bottom: 0.6rem;

}
.para{
font-size: 1.2rem;
line-height: 1.5;
width: 58%;
padding-bottom: 0.6rem;
}
.project-btn{
  margin-right: 0.7rem;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8rem 1.4rem;
}
.contact-btn{
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8rem 1.4rem;
  
}
.links{
display: flex;
flex-direction: row;
justify-content: space-evenly;
color: white;
margin: 3rem 0rem;
height:2rem;
width:13rem ;
}
.img-link{
  color: white;
  font-size: 1.5rem;
}
.img-link:hover{
  color: #F59E0B;
}
.image-section{
  display: flex;
  justify-content: center;
}
.image{
  height: 85%;
  width: 95%;
border-radius: 50%;
}

/* second section */
.about-section{
  min-height: 100vh;
  width: 100%;
  background-color: #07162f;
  color: white;
  padding: 4rem 1rem 0rem;
}
.border-right{
  border-right: #15253f 2px solid;
}
.abt{
  color: #F59E0B;
  padding-right: 0.5rem;
}
.col-md-6 h2{
  padding-bottom: 2rem;
}
.col-md-6 p{
  font-size: 1.1rem;
  line-height: 1.5;
  width: 80%;
  padding-bottom: 1rem;
}
.second-col{
  padding-left: 5rem;
}
.skill-header{
  color: #F59E0B;
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 0.6rem;
}
.frontend{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.frontend img{
  align-items: center;
  width: 4rem;

}
.tools{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.tools img{
  align-items: center;
  width: 4rem;
}
.tools h4, .frontend h4{
  font-size: 1rem;
  font-weight: 500;
  padding-top: 0.5rem;
  align-items: center;
  
}